body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-header {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-style {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 20px;
}
h1, h2 {
    color: #333;
}
p {
    color: #666;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin-right: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.contacts-head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    margin-right: 20px;
    max-width: 128px;
    max-height: 128px;
    display: inline-block;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    position: relative;
    height: 30%
    min-width: 200px;
    padding: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    z-index: 1;
}

.skill-card.active {
    transform: scale(1.05);
    z-index: 3;
}
.skill-card img {
    width: auto;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    
}

.skill-description {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 15px;
    left: -15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
}

#overlay.active {
    display: block;
}